<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.version }}-{{ site.time | date: '%s' }}">
</head>
<body>
    <div class="container">
        {{ content }}
    </div>
    <script>window.DEBUG = {{ site.debug | default: false }};</script>
    <script src="{{ '/assets/js/navigation.js' | relative_url }}?v={{ site.version }}-{{ site.time | date: '%s' }}"></script>
    <script src="{{ '/assets/js/sketch.js' | relative_url }}?v={{ site.version }}-{{ site.time | date: '%s' }}"></script>
</body>
</html>
